<div id="contact" class="section">
  <app-section-heading
    large_heading="contact"
    small_heading="Contact Me"
  ></app-section-heading>
  <form [formGroup]="profileForm" (submit)="handleForm()" #form>
    <div class="contact-container">
      <div class="card">
        <input type="checkbox"/>
        <div class="form">
          <div class="form_group">
            <input
              type="text"
              class="form__input"
              placeholder="Full name"
              id="name"
              name="name"
              formControlName="name"
            />
            <label for="name" class="form__label">Full name</label>
          </div>
          <div class="form_group">
            <input
              type="text"
              class="form__input"
              placeholder="Email"
              id="email"
              name="email"
              formControlName="email"

            />
            <label for="name" class="form__label">Email</label>
          </div>
        </div>
  
        <a>Next</a>
        <div class="msg">
          <div class="form_group">
            <textarea
              placeholder="Message"
              id="message"
              class="form__input"
              rows="7"
              formControlName="message"
              name="message"

            ></textarea>
            <label for="message" class="form__label wt-colr">Message</label>
          </div>
          <div class="form-btn">
            <button>{{ isclick ? 'sending..' : 'send'}}</button>
          </div>
        </div>
        <div class="photo">
          <div></div>
          <div></div>
          <div></div>
        </div>
        <div class="blob">
          <div class="glob"></div>
        </div>
      </div>
    </div>
  </form>
  

  <div class="contact-links">
    <ul>
      <li>
       <a href="https://github.com/shilpashingnapure" target="_blank"> <img src="https://www.svgrepo.com/show/325236/github.svg" /></a>
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/447416/linkedin.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/341985/leetcode.svg" />
      </li>
      <li>
        <img
          src="https://shilpa17-shingnapure-portfolio.vercel.app/static/media/cssbattle.b8323517978af98b91bf2ea8132adce7.svg"
        />
      </li>
      
      <li>
        <img src="https://www.svgrepo.com/show/368609/codepen.svg" />
      </li>
    </ul>
    <div class="line"></div>
  </div>
</div>
