<div id="contact">
  <div class="contact-section">
    <form class="form">
      <div class="form-header">
        <h2>Contact Me</h2>
      </div>
      <div class="form_group">
        <input
          type="text"
          class="form__input"
          placeholder="Full name"
          id="name"
        />
        <label for="name" class="form__label">Full name</label>
      </div>
      <div class="form_group">
        <input type="text" class="form__input" placeholder="Email" id="email" />
        <label for="name" class="form__label">Email</label>
      </div>
      <div class="form_group">
        <textarea
          placeholder="Message"
          id="message"
          class="form__input"
          rows="7"
        ></textarea>
        <label for="message" class="form__label">Message</label>
      </div>
      <button class="btn">Send</button>
    </form>
  </div>
</div>
