$g: rgb(38, 49, 72);
$p: #fe8d58;
$o: #f45746;
$gr: #b9acca;
$b: #0c011c;
$pi: #fe8d58;

#contact {
  width: 100%;
  background: url("../../assets/moon.png") no-repeat;
  background-position: bottom;
  background-size: 100% 60%;
  padding-bottom: 5%;
  position: relative;

  .contact-links {
    position: absolute;
    top: 15%;
    left: 4%;

    .line {
      width: 1px;
      height: 150px;
      background: #fff;
      margin: auto;
      margin-top: 8px;
    }

    ul {
      display: flex;
      flex-direction: column;
      gap: 8px;
      list-style: none;
      li {
        cursor: pointer;
      }

      li:hover {
        transform: scale(1.3);
      }
    }

    img {
      width: 30px;
      height: 30px;
      filter: invert(98%) sepia(96%) saturate(38%) hue-rotate(190deg)
        brightness(116%) contrast(100%);
    }
  }
  .contact-container {
    width: 90%;
    margin: auto;
    padding: 5rem;
  }
  .card {
    width: 500px;
    min-width: 500px;
    height: 350px;
    position: relative;
    max-width: 100%;
    background: #fff;
    * {
      transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .form-btn {
      border: none;
      display: flex;
      justify-content: center;
      margin: auto;
      // border: 1px solid #fff;
      // width: 60%;
      // width: 100%;
      // height: 50px;
      button {
        background: #fff;
        color: #000;
        padding: 0.9rem 1.5rem;
        border-radius: 9px;
        cursor: pointer;
      }
    }
    .form {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 10px;
      position: absolute;
      width: 70%;
      top: 50px;
      left: 20px;
      z-index: 999;
      transition: none;
    }

    .form_group {
      display: flex;
      flex-direction: column;
      gap: 6px;
      .form__input {
        background-color: rgba(255, 255, 255, 0.9);
        display: block;
        border-radius: 6px;
        padding: 1rem 1.2rem;
        border: none;
        width: 90%;
        outline: none;
        transition: all 0.3s;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      .form__label {
        margin-left: 1.2rem;
        margin-top: 0.3rem;
        display: block;
        transition: all 0.3s;
        font-size: 14px;
        color: #000;
        font-weight: 400;
      }
      .wt-colr {
        color: #fff;
      }

      .form__input:placeholder-shown + .form__label {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-2rem);
      }
    }

    h1,
    a {
      position: absolute;
      right: 30px;
      z-index: 9;
      color: #fff;
      font-size: 200px;
      font-weight: 100;
      margin: 0;
      top: 0;
      line-height: 0.75;
      transform: scale(0) rotateX(180deg);
      opacity: 0;
    }
    .msg {
      position: absolute;
      z-index: 999;
      width: 100%;
      font-size: 18px;
      font-weight: 100;
      font-family: "Raleway";
      line-height: 26px;
      top: 10%;
      color: #fff;
      display: inline-block;
      -webkit-clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      & .form_group {
        width: 80%;
        .form__input {
          width: 100%;
        }
      }
    }
    a {
      color: $g;
      font-size: 15px;
      bottom: 30px;
      top: auto;
      width: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      letter-spacing: 5px;
      text-transform: uppercase;
      font-weight: 900;
      padding: 15px 5px;
      border: 2px solid;
      cursor: pointer;
      left: 20px;
      opacity: 1;
      transform: none;
      height: 12.5px;
      font-family: "Raleway";
      border-radius: 6px;
      &:before {
        content: "BACK";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%) scale(0);
        font-size: 15px;
        opacity: 0;
      }
    }
    input[type="checkbox"] {
      z-index: 999;
      position: absolute;
      bottom: 30px;
      width: 20%;
      left: 20px;
      height: 35px;
      opacity: 0;
      cursor: pointer;
      &:hover {
        & ~ a {
          background: $pi;
          color: #fff;
          border-color: $pi;
        }
      }
      &:checked {
        & ~ .form {
          z-index: 9;
        }
        & ~ .msg {
          transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.175);
          transition-delay: 0.2s;
          -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        }
        & ~ a {
          z-index: 100;
          color: #fff;
          font-size: 0;
          &:before {
            opacity: 1;
            transform: translateX(-50%) translateY(-50%) scale(1);
          }
        }
        & ~ .blob {
          z-index: 99;
          transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
          &:before,
          &:after {
            transform: scale(0);
          }
          .glob {
            transition: all 400ms cubic-bezier(0.175, 0.885, 0.32, 1);
            min-width: 121%;
            min-height: 121%;
            border-radius: 0px;
            top: -5%;
            right: -16%;
          }
        }
      }
    }

    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.5);
      z-index: 100;
    }
    .photo {
      position: absolute;
      width: 50%;
      height: 100%;
      z-index: 0;
      overflow: hidden;
      perspective: 300px;
      div {
        position: absolute;
        width: 75%;
        height: 50%;
        transform: rotateX(-180deg);
        top: -12.5%;
        margin-left: -12.5%;
        transform-style: preserve-3d;
        backface-visibility: hidden;
        border-radius: 100%;
        box-shadow: inset 0 0 0 5px #fff, 0 0 0 5px $pi, 0 0 0 10px #fff;

        &:nth-of-type(1) {
          transform: rotateX(0deg);
        }
        &:before {
          content: "💯";
          font-size: 75px;
          position: absolute;
          left: 50%;
          top: 50%;
          margin: 20px 0 0 5px;
          transform: translateX(-50%) translateY(-50%);
          filter: saturate(0) brightness(20);
          opacity: 0.25;
        }
        &:first-of-type {
          background: $pi;
        }
        &:nth-of-type(2) {
          background: $o;
          box-shadow: inset 0 0 0 5px #fff, 0 0 0 5px $o, 0 0 0 10px #fff;
          &:before {
            content: "👯";
          }
        }
      }
    }

    .shapes {
      position: absolute;
      left: 58%;
      top: -10%;
      background: $p;
      width: 60px;
      height: 4px;
      z-index: 2;
      box-shadow: 0 8px 0 0 $p, 0 16px 0 0 $p, 0 24px 0 0 $p, 0 32px 0 0 $p;
      mix-blend-mode: screen;
      &:before {
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        background: linear-gradient(to bottom, $p, $o);
        -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
        left: 175px;
        top: 160px;
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
      }
    }

    .blob {
      position: absolute;
      width: 90%;
      height: 90%;
      top: 0;
      left: 0;
      filter: url(#goo);
      .glob {
        position: absolute;
        width: 60%;
        height: 75%;
        background: $g;
        border-radius: 100%;
        top: -35%;
        right: -35%;
      }
      &:before {
        content: "";
        position: absolute;
        width: 80%;
        height: 40%;
        background: $g;
        border-radius: 100%;
        right: -35%;
        top: -4%;
        transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transform: rotate(40deg);
        z-index: 1;
      }
    }
  }
}


@media screen and (max-width: 800px) {
  #contact{
    background: transparent;
    padding: 0;
    .contact-container{
      width: 90%;
      padding: 0 1rem;
    }
    .card{
      width: 100%;
      min-width: 100%;
      height: 300px;

      .blob {
        .glob{
          width: 40%;
          height: 37%;
          top : -24%;
          right : -19%;
        }

        &::before{
          width:60%;
          height: 25%;
          right : -23%;
          top:-11%;
        }

      }

      a{
        width: 30%;
      }

      .form{
        width: 90%;
        left:15px;
        gap:10px;
      }

      .msg{
        .form_group {
          gap:0;
        }
      }

      .form-btn button{
        padding: .6rem 1.5rem;;
      }

      & input[type=checkbox]{
        width: 30%;
      }

      .form_group .form__input{
        width: 100%;
      }
      textarea{
        height: 90px;
      }

      
    }
    

    .contact-links{
      position: relative;
      left: 0;
      top:0;
      margin: auto;
      height: 12vh;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
      background: #253047;

      
      ul{
        flex-direction: row;
        gap:20px;
      }
      .line{
        display: none;

      }
  
    }
  }
 

  
}