<div id="contact">
  <app-section-heading
    large_heading="contact"
    small_heading="Contact Me"
  ></app-section-heading>
  <div class="contact-container">
    <div class="card">
      <input type="checkbox" />
      <div class="form">
        <div class="form_group">
          <input
            type="text"
            class="form__input"
            placeholder="Full name"
            id="name"
          />
          <label for="name" class="form__label">Full name</label>
        </div>
        <div class="form_group">
          <input
            type="text"
            class="form__input"
            placeholder="Email"
            id="email"
          />
          <label for="name" class="form__label">Email</label>
        </div>
      </div>

      <a>Next</a>
      <div class="msg">
        <div class="form_group">
          <textarea
            placeholder="Message"
            id="message"
            class="form__input"
            rows="7"
          ></textarea>
          <label for="message" class="form__label">Message</label>
        </div>
        <div class="form-btn">
          <button>Send</button>
        </div>
      </div>
      <!-- <div class="shapes"></div> -->
      <div class="photo">
        <div></div>
        <div></div>
        <div></div>
      </div>
      <div class="blob">
        <div class="glob"></div>
      </div>
    </div>
  </div>

  <div class="contact-links">
    <ul>
      <li>
        <img src="https://www.svgrepo.com/show/325236/github.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/341985/leetcode.svg" />
      </li>
      <li>
        <img
          src="https://shilpa17-shingnapure-portfolio.vercel.app/static/media/cssbattle.b8323517978af98b91bf2ea8132adce7.svg"
        />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/128403/linkedin.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/368609/codepen.svg" />
      </li>
    </ul>
  </div>
</div>
