<app-stars-falling></app-stars-falling>
<div id="project" class="section">
  <app-section-heading
    large_heading="projects"
    small_heading="Top Projects"
  ></app-section-heading>

  <div class="top-projects">
    <div class="animation">
      <div
        *ngFor="let project of topThreeProjects; let i = index"
        class="project-card"
        id="project-{{ i }}"
        #card
      >
        <ng-container
          [ngTemplateOutlet]="projectCard"
          [ngTemplateOutletContext]="project"
        ></ng-container>
      </div>
    </div>

    <div class="non-animation">
      <div
        *ngFor="let project of topThreeProjects; let i = index"
        class="project-card"
      >
        <ng-container
          [ngTemplateOutlet]="projectCard"
          [ngTemplateOutletContext]="project"
        ></ng-container>
      </div>
    </div>
  </div>
 

  <app-mini-projects></app-mini-projects>
</div>

<ng-template
  #projectCard
  let-name="name"
  let-description="description"
  let-stack="techStack"
  let-imgs="imgs"
  let-link="link"
>
  <!-- project description -->
  <div class="project-content">
    <div class="project-about">
      <h1>{{ name }}</h1>
      <div class="description">
        <p>{{ description.intro }}</p>
        <div>
          <h5 class="sub-header">Features</h5>
          <ul>
            <li *ngFor="let f of description?.features">
              {{ f }}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="project-stack">
      <ng-container *ngFor="let icon of stack">
        <img src="./assets/Tech/{{ icon }}" />
      </ng-container>
    </div>
    <div class="project-links">
      <button class="btn">
        <a href="{{ link?.visit }}" target="_blank"> Website </a>
      </button>
      <button class="btn">
        <a href="{{ link?.github }}" target="_blank">Github</a>
      </button>
      <button class="btn" *ngIf="link?.demo">
        <a href="{{ link?.demo }}" target="_blank">Demo</a>
      </button>
    </div>
  </div>
  <!-- project image -->
  <div class="project-img">
    <div class="multiple-imgs" *ngIf="imgs.length > 1; else singleImg">
      <div *ngFor="let img of imgs; let i = index" class="img-{{ i + 1 }}">
        <img src="./assets/projects/{{ img }}" />
      </div>
    </div>
    <ng-template #singleImg>
      <div class="single-img">
        <img src="./assets/projects/{{ imgs[0] }}" />
      </div>
    </ng-template>
  </div>
</ng-template>
