<app-stars-falling></app-stars-falling>
<div id="project">
  <app-section-heading
    large_heading="projects"
    small_heading="Top Projects"
  ></app-section-heading>

  <div class="top-projects">
    <div class="project-container">
      <ng-container
        [ngTemplateOutlet]="project"
        [ngTemplateOutletContext]="{
          name: 'Mailchimp Clone',
          stack: [
            'react.png',
            'node.webp',
            'mongodb.png',
            'html.png',
            'css.png',
            'js.png'
          ],
          img: ['mailchimp2.PNG', 'mailchimp1.PNG', 'mailchimp3.PNG'],
          link: {
            visit: 'https://mailchimp-frontend.vercel.app/',
            github: 'https://github.com/shilpashingnapure/Clone-of-Mailchimp',
            demo: 'https://player.vimeo.com/video/756101155?h=e6e013b7d8'
          },
          description:
            'Mailchimp is a marketing automation platform and email marketing service. we tried to implement the features are create new email and customize existing email templates, Send templates through email and keep records of email sending, Can do email marking to multiple users. Team of 6 Members.'
        }"
      ></ng-container>
    </div>

    <div class="project-container" id="project-1">
      <ng-container
        [ngTemplateOutlet]="project"
        [ngTemplateOutletContext]="{
          name: 'Theory Clone',
          stack: [
            'react.png',
            'node.webp',
            'mongodb.png',
            'html.png',
            'css.png',
            'js.png'
          ],
          img: ['theory3.png', 'theory1.png', 'theory2.png'],
          link: {
            visit: 'https://theroybackend.onrender.com/',
            github: 'https://github.com/shilpashingnapure/Theory_Clone-Backend',
            demo: 'https://player.vimeo.com/video/689858338?h=1e538fdf27'
          },
          description:
            'New York fashion brand “Theory” is based on women’s and men’s contemporary fashion label. We tried to implement E-commerce functionalities product database, Add to cart, search, admin page, Authorization, Payment, OTP verification using Gmail API, etc. Won 1 rank amongst 70+ projects. Team of 5 members.'
        }"
      ></ng-container>
    </div>
    <div class="project-container" id="project-2">
      <ng-container
        [ngTemplateOutlet]="project"
        [ngTemplateOutletContext]="{
          name: 'Forest Essentials India Clone',
          stack: ['html.png', 'css.png', 'js.png'],
          img: ['forest-2.PNG', 'forest-1.gif', 'forest-3.png'],
          link: {
            visit: 'https://shilpashingnapure.github.io/forestessentialsindia/',
            github:
              'https://github.com/shilpashingnapure/forestessentialsindia',
            demo: 'https://player.vimeo.com/video/689858253?h=1744dc5262'
          },
          description:
            'Forest Essentials is an Indian cosmetics, skincare and perfume company that specialize in Ayurvedic preparations for its products. We implement basic e-commarce all functionalites. buy products ,add to cart , payment getway funtionalites etc. we are 2nd rank holder amongst 100+ projects. Team of 6 Members.'
        }"
      ></ng-container>
    </div>
  </div>
  <app-mini-projects></app-mini-projects>
</div>

<ng-template
  #project
  let-name="name"
  let-description="description"
  let-stack="stack"
  let-img="img"
  let-link="link"
>
  <div class="project-description">
    <h1>{{ name }}</h1>
    <p>
      {{ description }}
    </p>
    <div class="project-stack">
      <ng-container *ngFor="let icon of stack">
        <img src="./assets/Tech/{{ icon }}" />
      </ng-container>
    </div>
    <div class="project-links">
      <button class="btn">
        <a href="{{ link?.visit }}" target="_blank">Visit Now</a>
      </button>
      <button class="btn">
        <a href="{{ link?.github }}" target="_blank">Github</a>
      </button>
      <button class="btn">
        <a href="{{ link?.demo }}" target="_blank">Demo</a>
      </button>
    </div>
  </div>
  <div class="project-img">
    <img src="./assets/projects/{{ img[0] }}" class="img-1" />
    <img src="./assets/projects/{{ img[1] }}" class="img-2" />
    <img src="./assets/projects/{{ img[2] }}" class="img-3" />
  </div>
</ng-template>
