#project {
  margin: auto;
  // border: 1px solid #fff;
  width: 100%;
  margin-bottom: 7%;
  .section-heading {
    position: relative;
    width: 90%;
    height: 220px;
    white-space: nowrap;
    font-family: Poppins, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
    overflow: hidden;

    h2 {
      text-stroke: 1px #47b82e;
      -webkit-text-stroke: 1px #47b82e;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      opacity: 0.4;
      font-size: 130px;
      text-transform: uppercase;
      margin-left: 18%;
    }

    p {
      position: absolute;
      top: 33%;
      left: 35%;
      border-bottom: 2px solid #47b82e;
      width: 55%;
      text-align: left;
      font-size: 36px;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
  & > div {
    padding: 10px 30px;
    margin-top: 5%;
  }

  .top-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    width: 85%;
    margin: auto;
    position: relative;
    height: 200vh;
  }

  .project-container {
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    padding: 5rem;
    transform: skewx(-12deg);
    display: flex;
    gap: 10px;
    font-size: 16px;
    border-radius: 5px;
    position: absolute;
    width: 90%;
    height: 450px;
    backface-visibility: hidden;
    perspective: 1000px;
    perspective-origin: bottom;
    transform-style: preserve-3d;
    // margin-bottom: 40px;

    .project-description {
      transform: skewx(12deg);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      flex-basis: 45%;
      margin-top: -3%;

      p {
        line-height: 1.5rem;
      }

      .project-stack {
        display: flex;
        gap: 8px;

        img {
          width: 40px;
          height: 40px;
          object-fit: contain;
        }
      }

      .project-links {
        display: flex;
        align-items: center;
        gap: 20px;

        button {
          display: block;
          padding: 0.8rem 1.5rem;
          background-color: #fff;
          border: 1px solid black;
          border-radius: 5px;
        }
      }
    }

    .project-img {
      position: relative;
      transform: skewx(12deg);
      flex-basis: 50%;

      img {
        position: absolute;
        width: 60%;
        height: 60%;
        border-radius: 2px;
        z-index: 10;
        transition: all 0.2s;
        outline-offset: 2rem;
        box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
        // object-fit: contain;
      }

      .img-1 {
        top: -1rem;
        left: 2rem;
        z-index: 1;
      }
      .img-2 {
        top: 8rem;
        left: 9rem;
        z-index: 3;
      }
      .img-3 {
        top: 1rem;
        left: 16rem;
        z-index: 2;
      }
    }

    // reverse
    &-reverse {
      transform: skewX(12deg);
      flex-direction: row-reverse;

      .project-description {
        transform: skewx(-12deg);
      }

      .project-img {
        transform: skewx(-12deg);

        .img-1 {
          left: -5rem;
        }
        .img-2 {
          left: 1rem;
        }
        .img-3 {
          left: 6rem;
        }
      }
    }
    &:nth-child(1) {
      border-radius: 5px 5px 0 0;
    }
    // project divs alignment
    &:nth-child(2) {
      top: 460px;
      left: 13px;
      // animation: fold-animation-1 3s linear forwards;
      transform-origin: top;
      transform-style: preserve-3d;
      border-radius: 0;
      // opacity: 0;
    }

    &:nth-child(3) {
      top: 910px;
      right: 14px;
      // animation: fold-animation-2 3s 3s linear forwards;
      // opacity: 0;
      // animation-delay: 3s;
      transform-origin: top;
      transform-style: preserve-3d;
      border-radius: 0 0 5px 5px;
    }
  }
}

@keyframes fold-animation-1 {
  from {
    transform: rotateX(180deg);
    top: 460px;
    // left: -600px;
    // opacity: 0;
  }
  to {
    transform: skewX(12deg) rotateX(0);
    opacity: 1;
  }
}

@keyframes fold-animation-2 {
  from {
    transform: skewX(12deg) rotateX(180deg);
    top: 550px;
    opacity: 0;
  }
  to {
    transform: skewX(-12deg) rotateX(0);
    opacity: 1;
  }
}
