@import url("https://fonts.googleapis.com/css2?family=Allison&family=Babylonica&family=Festive&family=Montserrat:wght@300;400;500;600;700&family=Nunito&family=Poppins:wght@300;400;500;600;700&family=Yellowtail&display=swap");
#about {
  margin-top: 5%;

  .section-heading {
    position: relative;
    width: 90%;
    height: 210px;
    white-space: nowrap;
    font-family: Poppins, sans-serif;
    text-align: center;
    letter-spacing: 1px;
    margin: auto;
    overflow: hidden;

    h2 {
      text-stroke: 1px #47b82e;
      -webkit-text-stroke: 1px #47b82e;
      text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
      opacity: 0.4;
      font-size: 130px;
      text-transform: uppercase;
    }

    p {
      position: absolute;
      top: 33%;
      left: 34%;
      border-bottom: 2px solid #47b82e;
      width: 55%;
      text-align: left;
      font-size: 36px;
      letter-spacing: 2px;
      color: rgba(255, 255, 255, 0.8);
    }
  }
}
.intro-section {
  margin: auto;
  width: 70%;
  position: relative;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 6px 0px #22222280;
  height: 50vh;
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  transform: translateY(15%);

  .circles {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      left: -6%;
      top: -8%;
      width: 200px;
      height: 200px;
      background: rgb(38, 49, 72);
      border-radius: 50%;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      right: -5%;
      bottom: -13%;
      width: 200px;
      height: 200px;
      background: rgb(38, 49, 72);
      border-radius: 50%;
    }
  }
  h2 {
    padding: 20px 0;
    text-align: center;
    margin-left: 25%;
  }
  & > div {
    display: grid;
    grid-template-columns: 30% 1fr;
    gap: 20px;
    padding: 20px 30px;
  }

  .about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    .name {
      p {
        margin: 0;
        font-size: 1.1em;
        font-weight: bold;
      }
      h1 {
        font-weight: bold;
        margin: 0;
        font-size: 3em;
        color: #0b3a43;
      }
    }
    .about-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        line-height: 1.6em;
      }
      button {
        border: none;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        width: 250px;
        height: 40px;
        font-family: "Nunito", sans-serif;
        box-shadow: 1px 1px 10px 0px #2222222b;
        transition: 0.2s all;
        background: rgb(38, 49, 72);
        color: #fff;

        &:hover {
          box-shadow: 1px 1px 1px 0px #2222222b;
        }
        &:focus,
        &:active {
          outline: 0;
          box-shadow: 1px 1px 10px 0px #22222280;
        }
      }
    }
  }

  .profile {
    padding: 20px;
    float: left;
    margin-top: -80px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px #22222273;
    height: auto;
    z-index: 1;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      margin-top: -25px;
    }
  }
}
