<div id="about" class="section">
  <app-section-heading
    large_heading="about"
    small_heading="About Me"
  ></app-section-heading>
  <div class="intro-section">
    <div class="circles"></div>
    <div>
      <div class="profile">
        <img src="./assets/profile.jpeg" />
      </div>
      <div class="about">
        <div class="name">
          <p>Hello There!</p>
          <h1>I'm Shilpa Shingnapure</h1>
        </div>
        <div class="about-content">
          <p>
            A self-motivated, hardworking full-stack web developer with in-depth
            knowledge of frontend. I love to build websites/application that
            serves the world. and always want to enhance my knowledge & adpot
            new technologies that make impact on people.
          </p>
          <button class="button"> <a href="https://drive.google.com/file/d/10RYYlS_J5CfTrDjIFUpk7HzIwGuWtOMR/view?usp=sharing" target="_blank">View Resume</a></button>
        </div>
      </div>
    </div>
  </div>
</div>

