
.intro-section {
  margin: auto;
  width: 65%;
  position: relative;
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 6px 0px #22222280;
  height: 50vh;
  font-weight: 300;
  transform: translateY(15%);

  .circles {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      left: -6%;
      top: -8%;
      width: 200px;
      height: 200px;
      background: rgb(38, 49, 72);
      border-radius: 50%;
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      background-image: url('https://img.freepik.com/premium-vector/rocket-flying-into-outer-space_356740-184.jpg');
      background-position: center;
      background-size: contain;
      right: 0;
      bottom: 0;
      width: 150px;
      height: 150px;
      
    }
  }

  h2 {
    padding: 20px 0;
    text-align: center;
    margin-left: 25%;
  }
  & > div {
    display: flex;
    // grid-template-columns: 30% 1fr;
    gap: 20px;
    padding: 20px 30px;
  }

  .about {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 40px;
    clear: left;
    .name {
      p {
        margin: 0;
        font-size: 1.1em;
        font-weight: bold;
      }
      h1 {
        font-weight: bold;
        margin: 0;
        font-size: 3em;
        color: #0b3a43;
      }
    }
    .about-content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      p {
        line-height: 1.6em;
      }
      
      .button {
        border: none;
        padding: 10px;
        cursor: pointer;
        font-weight: bold;
        width: 200px;
        height: 40px;
        font-family: "Nunito", sans-serif;
        box-shadow: 1px 1px 10px 0px #2222222b;
        transition: 0.2s all;
        background: rgb(38, 49, 72);
        color: #fff;
        z-index: 2;

        a{
          color: #fff;
          font-family: var(--primary-font);
        }

        &:hover {
          box-shadow: 1px 1px 1px 0px #2222222b;
        }
        &:focus,
        &:active {
          outline: 0;
          box-shadow: 1px 1px 10px 0px #22222280;
        }
      }
    }
  }

  .profile {
    flex-basis: 100%;
    padding: 20px;
    float: left;
    margin-top: -70px;
    background-color: #fff;
    box-shadow: 0px 0px 6px 0px #22222273;
    height: 45vh;
    z-index: 1;
        

    img {
      width: 100%;
      height: 85%;
      object-position: center;
      object-fit:cover;
     
    }
  }
}



// media query
@media screen and (max-width: 800px) {
  .intro-section{
    height: auto;
    width: 90%;

    & > div{
      flex-direction: column;
      gap:30px;
    }


    .circles {
      padding:20px;
      
      &:after {
        width: 8rem;
        height: 8rem;
        bottom:30%;
        z-index:-1;
        
      }
    }

    .about{
      padding: 0;
      margin: 0;
    }

   
    
  }
  
}

@media screen and (min-width: 2000px) {
  .intro-section{
    width: 50%;

    .about{
      justify-content: center;
    }
  }
}