<div id="about">
  <h2 class="header">About</h2>
  <div class="intro-section">
    <div class="circles"></div>
    <div>
      <div class="profile">
        <img
          src="https://media.licdn.com/dms/image/C4E03AQHLVpr2p84t0Q/profile-displayphoto-shrink_800_800/0/1649060633250?e=1709164800&v=beta&t=4h2H0sit5yYKQeqag4qm4gZJGOv02KkA7OeC3ueZVUY"
        />
      </div>
      <div class="about">
        <div class="name">
          <p>Hello There!</p>
          <h1>I'm Shilpa Shingnapure</h1>
        </div>
        <div class="about-content">
          <p>
            A self-motivated, hardworking full-stack web developer with in-depth
            knowledge of frontend. I love to build websites/application that
            serves the world. and always want to enhance my knowledge & adpot
            new technologies that make impact on people.
          </p>
          <button>Download Resume</button>
        </div>
      </div>
    </div>
  </div>
</div>
