<div id="tech">
  <div class="section-heading">
    <h2>Skills</h2>
    <p>My Skills</p>
  </div>
  <div class="front-end">
    <div class="tech">
      <img src="./assets/Tech/js.png" />
      <span>JavasScript</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/ts.png" />
      <span>TypeScript</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/node.webp" />
      <span>Node.js</span>
    </div>

    <div class="tech">
      <img src="./assets/Tech/react.png" />
      <span>React</span>
    </div>

    <div class="tech">
      <img src="./assets/Tech/angular.svg" />
      <span>Angular</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/nestjs.png" />
      <span>Nest.js</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/html.png" />
      <span>HTML</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/css.png" />
      <span>CSS</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/sass.webp" />
      <span>Sass</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/graphql.png" />
      <span>GraphQL</span>
    </div>

    <div class="tech">
      <img src="./assets/Tech/postgresql.png" />
      <span>PostgreSQL</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/mongodb.png" />
      <span>MongoDB</span>
    </div>

    <div class="tech">
      <img src="./assets/Tech/python.webp" />
      <span>Python</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/dj.jpeg" />
      <span>Django</span>
    </div>
    <div class="tech">
      <img src="./assets/Tech/bootstrap.svg" />
      <span>Bootstrap</span>
    </div>
  </div>
</div>
