<div id="tech" class="section">
  <app-section-heading
    large_heading="skills"
    small_heading="My Skills"
  ></app-section-heading>
  <div class="tech-stack">
    <ng-container
      *ngFor="let stack of techIcons"
      [ngTemplateOutlet]="techStack"
      [ngTemplateOutletContext]="{
        name: stack.name,
        icon: stack.icon
      }"
    >
    </ng-container>
  </div>
</div>

<ng-template #techStack let-name="name" let-icon="icon">
  <div class="tech">
    <img src="/assets/Tech/{{ icon }}" />
    <span>{{ name }}</span>
  </div>
</ng-template>
