<div class="mini-projects">
  <div class="project-card voilet-bg">
    <div class="project-img"></div>
    <div class="prroject-btns"></div>
  </div>
  <div class="project-card">
    <div class="project-img"></div>
    <div class="prroject-btns"></div>
  </div>
  <div class="project-card">
    <div class="project-img"></div>
    <div class="prroject-btns"></div>
  </div>
  <div class="project-card">
    <div class="project-img"></div>
    <div class="prroject-btns"></div>
  </div>
  <div class="project-card">
    <div class="project-img"></div>
    <div class="prroject-btns"></div>
  </div>
  <div class="project-card">
    <div class="project-img"></div>
    <div class="prroject-btns"></div>
  </div>
</div>
