<div class="mini-projects">
  <div class="project-card voilet-bg">
    <div class="project-img">
      <img
        src="https://shilpa17-shingnapure-portfolio.vercel.app/static/media/tommy1.d81610d493e4857fd932.JPG"
      />
    </div>
    <div class="project-btns"></div>
  </div>
  <div class="project-card orange-bg">
    <div class="project-img"></div>
    <div class="project-btns"></div>
  </div>
  <div class="project-card green-bg">
    <div class="project-img"></div>
    <div class="project-btns"></div>
  </div>
  <div class="project-card yellow-bg">
    <div class="project-img"></div>
    <div class="project-btns"></div>
  </div>
  <div class="project-card purpule-bg">
    <div class="project-img"></div>
    <div class="project-btns"></div>
  </div>
  <div class="project-card">
    <div class="project-img"></div>
    <div class="project-btns"></div>
  </div>
</div>
