<app-section-heading
  large_heading="projects"
  small_heading="Mini Projects"
></app-section-heading>
<div class="mini-projects">
  <ng-container
    *ngFor="let project of miniProjects"
    [ngTemplateOutlet]="card"
    [ngTemplateOutletContext]="project"
  ></ng-container>
</div>

<ng-template
  #card
  let-name="name"
  let-stack="stack"
  let-description="description"
  let-link="link"
  let-img="img"
>
  <div class="project-card">
    <div class="project-img">
      <img src="./assets/mini-projects/{{ img }}" />
    </div>
    <div class="project-heading">{{ name }}</div>
    <div class="tech-stack">
      <ng-container *ngFor="let item of stack">
        <span>{{ item }}</span>
      </ng-container>
    </div>
    <div class="project-description">
      {{ description }}
    </div>
    <div class="project-btns">
      <span>
        <a href="{{ link?.github }}" target="_blank">
          <img
            src="https://static-00.iconduck.com/assets.00/github-icon-256x250-8uwyx2vs.png"
            width="20px"
            height="20px"
          />
        </a>
      </span>
      <span>
        <a href="{{ link?.visit }}" target="_blank">
          <img src="./assets/link.png" width="18px" height="18px"/>
        </a>
      </span>
      <button (click)="openDialog(link?.demo)" mat-raised-button *ngIf="link?.demo">
        <img
          src="https://static-00.iconduck.com/assets.00/video-icon-1024x718-rft6cq8n.png"
          width="20px"
          height="20px"
        />
      </button>
    </div>
  </div>
</ng-template>



