<div class="portfolio" id="top" #parentDiv>
  <header [ngClass]="{ show: scrolled }">
    <div class="icon">
      <img src="../../assets/signature.png" />
    </div>
    <ul>
      <li>
        <a href="#top">Home</a>
        <mat-icon>home</mat-icon>
      </li>
      <li>
        <a href="#about">About</a>
        <mat-icon>person</mat-icon>
      </li>
      <li>
        <a href="#tech">Tech</a>
        <mat-icon>code</mat-icon>
      </li>
      <li><a href="#work">Work Experience</a><mat-icon>work</mat-icon></li>
      <li>
        <a href="#project">Projects</a><mat-icon>developer_mode</mat-icon>
      </li>
      <li><a href="#contact">Contacts</a><mat-icon> contacts</mat-icon></li>
    </ul>
  </header>
  <app-home-name class="section"></app-home-name>
  <app-intro class="section"></app-intro>
  <app-tech-stack class="section"></app-tech-stack>
  <app-work-experience class="section"></app-work-experience>
  <app-projects class="section"></app-projects>
  <app-contacts class="section"></app-contacts>
  <footer>
    <ul>
      <li>
        <img src="https://www.svgrepo.com/show/325236/github.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/341985/leetcode.svg" />
      </li>
      <li>
        <img
          src="https://shilpa17-shingnapure-portfolio.vercel.app/static/media/cssbattle.b8323517978af98b91bf2ea8132adce7.svg"
        />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/128403/linkedin.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/368609/codepen.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/341892/hackerrank.svg" />
      </li>
    </ul>
    <div class="credit">
      <span>Designed & Built By </span>
      <span>🥰</span>
      <span>Shilpa Shingnapure</span>
    </div>
    <p>copyright 2024</p>
  </footer>
</div>
