<div class="portfolio" id="top">
  <header [ngClass]="{ show: scrolled }">
    <div class="icon">
      <img src="../../assets/signature.png" />
    </div>
    <ul>
      <li>
        <a href="#top">Home</a>
        <mat-icon>home</mat-icon>
      </li>
      <li>
        <a href="#about">About</a>
        <mat-icon>person</mat-icon>
      </li>
      <li>
        <a href="#tech">Tech</a>
        <mat-icon>code</mat-icon>
      </li>
      <li><a href="#work">Work Experience</a><mat-icon>work</mat-icon></li>
      <li>
        <a href="#project">Projects</a><mat-icon>developer_mode</mat-icon>
      </li>
      <li><a href="#contact">Contacts</a><mat-icon> contacts</mat-icon></li>
    </ul>
  </header>
  <div id="name">
    <div>
      <h1>Shilpa</h1>
      <h1>Shingnapure</h1>
      <p>Full Stack Developer</p>
    </div>
  </div>
  <div class="intro">
    <app-intro></app-intro>
  </div>
  <div>
    <app-tech-stack></app-tech-stack>
  </div>
  <div>
    <app-work-experience></app-work-experience>
  </div>
  <div>
    <app-projects></app-projects>
  </div>
  <div>
    <app-contacts></app-contacts>
  </div>
  <footer>
    <ul>
      <li>
        <img src="https://www.svgrepo.com/show/325236/github.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/341985/leetcode.svg" />
      </li>
      <li>
        <img
          src="https://shilpa17-shingnapure-portfolio.vercel.app/static/media/cssbattle.b8323517978af98b91bf2ea8132adce7.svg"
        />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/128403/linkedin.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/368609/codepen.svg" />
      </li>
      <li>
        <img src="https://www.svgrepo.com/show/341892/hackerrank.svg" />
      </li>
    </ul>
    <div class="credit">
      <span>Designed & Built By </span>
      <span>🥰</span>
      <span>Shilpa Shingnapure</span>
    </div>
    <p>copyright 2024</p>
  </footer>
</div>
