.portfolio {
  display: grid;
  grid-template-rows:
    40px calc(100vh - 40px) 100vh repeat(2, 100vh) auto auto
    30vh;

  // gap: 10rem;
}
// Header CSS
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--large-font);
  background: var(--primary-background-color);
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 40px 20px;
  position: sticky;
  top: 0;
  opacity: 0;
  z-index: 9999;

  &.show {
    opacity: 1;
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0 20px;
    // font-style: italic;
    color: rgba(255, 255, 255, 0.4);

    li {
      display: flex;
      gap: 3px;

      mat-icon {
        font-size: 18px;
      }
      a {
        color: inherit;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}

footer {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--large-font);
  background: rgb(38, 49, 72);
  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0 20px;

    img {
      width: 30px;
      height: 30px;
      filter: invert(100%) sepia(60%) saturate(7359%) hue-rotate(178deg)
        brightness(100%) contrast(93%);
    }
  }

  .credit {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

#name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://cutewallpaper.org/21/star-wars-background-stars/Star-Wars-Tumblr-Backgrounds-Wallpaper-Cave.jpg");

  div {
    line-height: 6.5rem;
    animation: header-animation 1s linear;
    letter-spacing: 10px;

    h1 {
      font-size: 5.2rem;
    }
  }
}

.intro {
  // clip-path: polygon(0% 0%, 99% 15%, 99% 84%, 53% 95%, 0% 80%);
  // background: #fff;
  padding-top: 30px;
}

@keyframes header-animation {
  from {
    filter: blur(5px);
    letter-spacing: 35px;
    opacity: 0;
  }
  to {
    letter-spacing: 10px;
    filter: blur(0);
    opacity: 1px;
  }
}
