<div id="work">
  <h2>Work Experience</h2>
  <div>
    <mat-tab-group
      mat-stretch-tabs="false"
      disableRipple
      mat-align-tabs="start"
      [disablePagination]="true"
    >
      <mat-tab label="Political Data Inc.">
        <div class="work-description">
          <h2>Political Data Intelligence.</h2>
          <h4>Associate Full Stack Engineer <i>Feb 2023 - Present</i></h4>
          <ul>
            <li>
              Worked extensively in Angular 14 , HTML , SCSS and GraphQL to
              develop various features.
            </li>
            <li>
              Developed the ‘Approve/Canvasser’ Detail page , effectively
              displaying canvasser survey details with used of Akita store for
              efficient data handling.
            </li>
            <li>
              Developed the ‘Manage Canvassing Project’ page utilizing SCSS ,
              Angular Material UI and GraphQL API across all web pages.
            </li>
            <li>
              While Troubleshooting backend bugs , gaining hands-on experience
              in working with PostgreSQL , TypeORM and NestJs and writing test
              cases.
            </li>
            <li>
              Resolved issues within the Supporter App by utilizing react and
              CSS for frontend fixes.
            </li>
            <li>Effectively resolved bugs across both frontend and backend.</li>
          </ul>
        </div>
      </mat-tab>
      <mat-tab label="Masai School">
        <div class="work-description">
          <h2>Masai School</h2>
          <h4>Instructional Associate <i>Feb 2023 - Present</i></h4>
          <ul>
            <li>
              Helping students in solving conceptual doubts via stand-up’s &
              pair programming sessions.
            </li>
            <li>Building communication between students & instructor.</li>
            <li>Mentoring students in the field of web development.</li>
            <li>
              Reviewing projects, portfolios and taking mock interviews to help
              students.
            </li>
            <li>Delivering lectures and PSC whenever needed.</li>
          </ul>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
