<div id="work" class="section">
  <app-section-heading
    large_heading="experience"
    small_heading="My Experience"
  ></app-section-heading>
  <div class="big-screen">
    <mat-tab-group fxLayout="column"
      mat-stretch-tabs="false"
      disableRipple
      mat-align-tabs="start"
      [disablePagination]="true"
    >
      <mat-tab label="Agriwise Finserv Limited">
        <ng-container
          [ngTemplateOutlet]="workDescription"
          [ngTemplateOutletContext]="{
            label: 'Agriwise Finserv Limited',
            position: 'Assistant Manager',
            date: {
              start: 'Sep 2024',
              end: 'Jul 2025'
            },
            description: [
              'Developed an internal AgriTech web app using Angular 17, Node.js, and MySQL',
              'Created a secure employee portal with workflow automation, managing the full development and deployment process',
              'Implemented key features like SSO login, dynamic forms, email notifications, admin panel and file uploads.'
            ]
          }"
        >
        </ng-container>
      </mat-tab>
      <mat-tab label="Political Data Inc.">
        <ng-container
          [ngTemplateOutlet]="workDescription"
          [ngTemplateOutletContext]="{
            label: 'Political Data Intelligence',
            position: 'Associate Full Stack Engineer',
            date: {
              start: 'Feb 2023',
              end: 'Jan 2024'
            },
            description: [
              'Worked extensively in Angular 14 , HTML , SCSS and GraphQL to develop various features.',
              'Developed the ‘Approve/Canvasser’ Detail page , effectively displaying canvasser survey details with used of Akita store for efficient data handling.',
              'Developed the ‘Manage Canvassing Project’ page utilizing SCSS Angular Material UI and GraphQL API across all web pages.',
            ]
          }"
        >
        </ng-container>
      </mat-tab>
      <mat-tab label="Masai School">
        <ng-container
          [ngTemplateOutlet]="workDescription"
          [ngTemplateOutletContext]="{
            label: 'Masai School',
            position: 'Instructional Associate',
            date: {
              start: 'April 2022',
              end: 'Feb 2023'
            },
            description: [
              'Helping students in solving conceptual doubts via stand-up’s & pair programming sessions.',
              'Building communication between students & instructor.',
              'Mentoring students in the field of web development.',
              'Reviewing projects, portfolios and taking mock interviews to help students.',
            ]
          }"
        >
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="small-screen">
    <div class="scroll-section">
      <ng-container
        [ngTemplateOutlet]="workDescription"
        [ngTemplateOutletContext]="{
          label: 'Political Data Intelligence',
          position: 'Associate Full Stack Engineer',
          date: {
            start: 'Feb 2023',
            end: 'Jan 2024'
          },
          description: [
            'Worked extensively in Angular 14 , HTML , SCSS and GraphQL to develop various features.',
            'Developed the ‘Approve/Canvasser’ Detail page , effectively displaying canvasser survey details with used of Akita store for efficient data handling.',
            'Developed the ‘Manage Canvassing Project’ page utilizing SCSS Angular Material UI and GraphQL API across all web pages.'
          ]
        }"
      >
      </ng-container>
      <ng-container
        [ngTemplateOutlet]="workDescription"
        [ngTemplateOutletContext]="{
          label: 'Masai School',
          position: 'Instructional Associate',
          date: {
            start: 'April 2022',
            end: 'Feb 2023'
          },
          description: [
            'Helping students in solving conceptual doubts via stand-up’s & pair programming sessions.',
            'Building communication between students & instructor.',
            'Mentoring students in the field of web development.',
            'Reviewing projects, portfolios and taking mock interviews to help students.',
          ]
        }"
      >
      </ng-container>
  </div>
  </div>
  
  
</div>

<ng-template
  #workDescription
  let-label="label"
  let-position="position"
  let-date="date"
  let-description="description"
>
  <div class="work-description">
    <h2>{{ label }}</h2>
    <h4>
      {{ position }} <i>{{ date.start }} - {{ date.end }}</i>
    </h4>
    <ul>
      <li *ngFor="let sentance of description">
        {{ sentance }}
      </li>
    </ul>
  </div>
</ng-template>
