<div id='ufo'>
	<div class='outer-shape'>
		<div class='inner-shape'>
			<div class='girl'>
				<div class='hair'>
						<span class='hair-1'></span>
					<span class='hair-2'></span>
						<span class='hair-3'></span>
				</div>
				<div class='face'>
					<div class='eye-left'>
						<span></span>
					</div>
					<div class='eye-right'>
						<span></span>
					</div>
					<div class='nose'></div>
					<div class='mouth'></div>
				</div>
				<div class='body'></div>
			</div>
			<div class='glass'></div>
		</div>
		
		<div class='bottom-shape'>
		<span></span>
		<span></span>
		<span></span>
	</div>
		<div class=lights>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
			<span></span>
		</div>
	</div>
	<!-- <div class='ufo-landing'></div> -->
	
</div>